body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
img{
    width: 15%;
    transition: 5s;
}
img:hover{
    width: 25%;
}

.titulo{
    background-color: rgb(91, 28, 107);
    font-size: 400%;
    color: aliceblue;
}

.mm{
    color: rebeccapurple ;
}

.pm{
    color: rebeccapurple;
}

.pp{
    color: rebeccapurple;

}

.gg{
    background-color: rgb(91, 28, 107);
}

.java{
    color: rebeccapurple;
}

.caixa{

    color: black;
}

.gg{
    text-align: left;
}