* {
    margin: 0%;
}
body{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    background-image: url("imagens/savannah.jpg");
    display: grid;
    grid-template-areas: 
        "cab cab cab cab"
        "sec sec pri pri"
        "rod rod rod rod";
    grid-gap: 5px;
    grid-template-columns: 50% auto auto;
    grid-template-rows: auto 1000px auto;
}


header{
    grid-area: cab;
}
aside{
    grid-area: sec;
    padding-bottom: 50px;
}
main{
    grid-area: pri;
}
footer{
    grid-area: rod;
    margin-top: 350px;
}

.caixa{
    background-color: rgba(5, 5, 5, 0.658);
    border-radius: 25px;
    padding-bottom: 10px;
}

.texto{
    padding-left: 70px;
    padding-right: 70px;
    color: rgb(255, 255, 255);
}

.leaobranco{
    text-align: center;
}

.leao{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    border-radius: 25px;
   
}

header{
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    
}

.branco{text-align: center;
    width: 150px;
}
    
 .textoheader{
    margin-left: 30%;
 }

 footer{
    background-color: white;
    color: black;

 }
 .juba{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    border-radius: 25px;
 }

 .gg{
    text-align: center;
 }